name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
      with:
        targets: wasm32-unknown-unknown
    - name: Install wasm-bindgen 
      run:  cargo install wasm-bindgen-cli --version 0.2.106 ## Bevy 0.16
    - name: Build
      run: cargo build --profile release-web --target wasm32-unknown-unknown
    - name: Wasm Bundle
      run: wasm-bindgen --out-dir ./out/ --target web ./target/wasm32-unknown-unknown/release-web/ascii.wasm
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: out
